<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/home/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <img src="/css/home/img/logo.png" alt="">
      <a href="http://localhost:3050/" id="logo_icon"></a>
      <div class="navigation">
        <a href="#">홈</a>
        <a href="#">시리즈</a>
        <a href="#">영화</a>
        <a href="#">드라마</a>
      </div>
      <div class="secondary_navigation">
        <input type="text" id="serch" placeholder="검색">
        <a href="http://localhost:3050/login">로그인</a>
      </div>
    </header>
    <main>
      <div class="container">
        <ul class="slider">
          <li><img src="/css/home/img/main1.png" alt=""></li>
          <li><img src="/css/home/img/main2.png" alt=""></li>
          <li><img src="/css/home/img/main3.png" alt=""></li>
          <li><img src="/css/home/img/main4.png" alt=""></li>
          <li><img src="/css/home/img/main5.png" alt=""></li>
        </ul>
        <div class="btn">
          <img src="/css/home/img/prev.png" alt="" class="prev">
          <img src="/css/home/img/next.png" alt="" class="next">
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slider">
          <div class="title">
            <span>실시간 인기 드라마</span>
            <a href="#">더보기</a>
          </div>
          <ul class="swiper-slider-img">
            <li><img src="/css/home/img/drm1.jpg" alt=""></li>
            <li><img src="/css/home/img/drm2.jpg" alt=""></li>
            <li><img src="/css/home/img/drm3.jpg" alt=""></li>
            <li><img src="/css/home/img/drm4.jpg" alt=""></li>
            <li><img src="/css/home/img/drm5.jpg" alt=""></li>
          </ul>
        </div>
        <div class="swiper-slider">
          <div class="title">
            <span>실시간 인기 영화</span>
            <a href="#">더보기</a>
          </div>
          <ul class="swiper-slider-img">
            <li><a href="http://localhost:3050/streaming" class="streaming"><img src="/css/home/img/mov1.jpg" alt=""></a></li>
            <li><img src="/css/home/img/mov2.jpg" alt=""></li>
            <li><img src="/css/home/img/mov3.jpg" alt=""></li>
            <li><img src="/css/home/img/mov4.jpg" alt=""></li>
            <li><img src="/css/home/img/mov5.jpg" alt=""></li>
          </ul>
        </div>
        <div class="swiper-slider">
          <div class="title">
            <span>실시간 인기 프로그램</span>
            <a href="#">더보기</a>
          </div>
          <ul class="swiper-slider-img">
            <li><img src="/css/home/img/etp1.jpg" alt=""></li>
            <li><img src="/css/home/img/etp2.jpg" alt=""></li>
            <li><img src="/css/home/img/etp3.jpg" alt=""></li>
            <li><img src="/css/home/img/etp4.jpg" alt=""></li>
            <li><img src="/css/home/img/etp5.jpg" alt=""></li>
          </ul>
        </div>
        <div class="swiper-slider">
          <div class="title">
            <span>실시간 인기 애니</span>
            <a href="#">더보기</a>
          </div>
          <ul class="swiper-slider-img">
            <li><img src="/css/home/img/ani1.jpg" alt=""></li>
            <li><img src="/css/home/img/ani2.jpg" alt=""></li>
            <li><img src="/css/home/img/ani3.jpg" alt=""></li>
            <li><img src="/css/home/img/ani4.jpg" alt=""></li>
            <li><img src="/css/home/img/ani5.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="footer-menu">
          <a href="#">회사소개</a>
          <a href="#">인재채용</a>
          <a href="#">서비스 소개</a>
          <a href="#">이용약관</a>
          <a href="#">개인정보 처리방침</a>
          <a href="#">고객센터</a>
        </div>
        <span>팀명 : 飛上<br></span>
        <span>전화번호 010-3565-8641 ㅣ 이메일 주소 : rlqja1135@naver.com<br></span>
        <span>경기도 성남시 중원구 광명로 377<br></span>
        <span>Copyright© (주)비스킷 All rights reserved.</span>
      </div>
    </footer>
    <script type="text/javascript" src="/js/home/main.js"></script>
  </body>
</html>