<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/home/login.css">
  <script src="/js/home/register.js" defer></script>
  <title>Document</title>
</head>
<body>
  <header>
    <img src="/css/home/img/logo.png" alt="">
    <a href="http://localhost:3050/" id="logo_icon"></a>
    <div class="navigation">
      <a href="#">홈</a>
      <a href="#">시리즈</a>
      <a href="#">영화</a>
      <a href="#">드라마</a>
    </div>
    <div class="secondary_navigation">
      <input type="text" id="serch" placeholder="검색">
      <a href="http://localhost:3050/login">로그인</a>
    </div>
  </header>
  <main>
    <div class="login-page">
      <div class="form">
        <a3>회원가입</a3>
        <form class="login-form">
          <input id="id" type="text" name ="id"placeholder="아이디"/>
          <input id="name" type="text" name ="name"placeholder="이름"/>
          <input id="psword" type="password"name ="pw"placeholder="비밀번호"/>
          <input id="confirm-psword" type="password" name="confirm-psword" placeholder="비밀번호 확인"/>
          <p id="button">SIGN UP</p>
          <p class="message">이미 계정이 있으신가요? <a href="/login">로그인</a></p>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <div class="footer-menu">
          <a href="#">회사소개</a>
          <a href="#">인재채용</a>
          <a href="#">서비스 소개</a>
          <a href="#">이용약관</a>
          <a href="#">개인정보 처리방침</a>
          <a href="#">고객센터</a>
        </div>
        <span>팀명 : 飛上<br></span>
        <span>전화번호 010-3565-8641 ㅣ 이메일 주소 : rlqja1135@naver.com<br></span>
        <span>경기도 성남시 중원구 광명로 377<br></span>
        <span>Copyright© (주)비스킷 All rights reserved.</span>
      </div>
    </footer>  
  </main>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->