<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/home/streaming.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home/chat.js"></script>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/css/home/img/logo.png" alt="">
        <a href="http://localhost:3050/" id="logo_icon"></a>
        <div class="navigation">
          <a href="#">홈</a>
          <a href="#">시리즈</a>
          <a href="#">영화</a>
          <a href="#">드라마</a>
        </div>
        <div class="secondary_navigation">
          <input type="text" id="serch" placeholder="검색">
          <a href="login.html">로그인</a>
        </div>
      </header>
    <main>
        <video src="/css/home/img/sample.mp4" controls autoplay></video>
        <div id="chat-container">
          <div id="chat">
            <!-- 채팅 메시지 영역 -->
          </div>
          <div>
            <input type="text" id="test" placeholder="메시지를 입력해주세요..">
            <button id="btn" onclick="send()">전송</button>
            <!-- enter key -->
            <script>
              var input = document.getElementById("test");
              input.addEventListener("keypress", function (event) { 
                if (event.keyCode === 13) { 
                  event.preventDefault(); 
                  document.getElementById("btn").click(); 
              } });
              </script>
          </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
          <div class="footer-menu">
            <a href="#">회사소개</a>
            <a href="#">인재채용</a>
            <a href="#">서비스 소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보 처리방침</a>
            <a href="#">고객센터</a>
          </div>
          <span>팀명 : 飛上<br></span>
          <span>전화번호 010-3565-8641 ㅣ 이메일 주소 : rlqja1135@naver.com<br></span>
          <span>경기도 성남시 중원구 광명로 377<br></span>
          <span>Copyright© (주)비스킷 All rights reserved.</span>
        </div>
      </footer>
      
</body>
</html>